---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class='flex h-full'>
    <div class='w-1/2 flex flex-col items-start justify-center px-16 gap-y-8'>
      <h2 class='text-3xl font-bold font-serif'>L'atelier</h2>
      <p class='font-serif'>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio voluptate
        obcaecati, voluptas suscipit aliquam saepe similique eum officia, dicta
        deleniti sequi eius quia culpa placeat, itaque aut maiores? Earum
        placeat inventore officia laboriosam temporibus cupiditate
        exercitationem eaque labore, a molestias laborum cumque vel modi
        aspernatur nam est minus quae corporis.
      </p>
    </div>
    <div class='bg-dark flex-grow'></div>
  </div>
</Layout>
