---
import type { Creation } from '../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { Asset, ContentfulCollection } from 'contentful';

interface Props extends Creation {
  className?: string;
}

const { images, name, description, date, slug } = Astro.props;
const urls = images.map((image: Asset) => image?.fields?.file?.url);

const formatter = new Intl.DateTimeFormat('fr', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<div class='flex flex-col items-start w-full neo-shadow'>
  <img src={urls[0]} alt='' class='w-full aspect-video object-cover' />
  <h2
    class='border-y border-black py-2 px-4 w-full font-serif text-2xl font-bold'
  >
    {name}
  </h2>
  <div class='border-b border-black p-4 w-full'>
    <p set:html={documentToHtmlString(description)}></p>
  </div>
  <div class='flex w-full justify-between'>
    <div class='flex-1 px-4 py-2'>
      <p>{formatter.format(new Date(date))}</p>
    </div>
    <div class='flex-0 px-4 py-2 border-l border-black'>
      <p>Voir plus</p>
    </div>
  </div>
</div>
